.u-center-text {
  text-align: center;
}

.u-is-disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.u-display-none {
  display: none;
}

.u-margin-bottom-big {margin-bottom: 8rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-small {margin-bottom: 1.5rem;}

.u-margin-top-big {margin-top: 8rem;}
.u-margin-top-medium {margin-top: 4rem;}
.u-margin-top-small {margin-top: 1.5rem;}

.u-padding-bottom-big {padding-bottom: 8rem;}
.u-padding-bottom-medium {padding-bottom: 4rem;}
.u-padding-bottom-small {padding-bottom: 1.5rem;}

.u-padding-top-big {padding-top: 8rem;}
.u-padding-top-medium {padding-top: 4rem;}
.u-padding-top-small {padding-top: 1.5rem;}