// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-coral: #F2627A;
$color-orange: #F17834;
$color-primary-blue: #307a86;
$color-primary-coral: #F1595F;
$color-primary-darkgrey: #565A5C;
$color-primary-lightgrey: #CED1CC;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT 
$default-font-size: 1.6rem;
